<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tasks Demo</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="/static/styles.a474c4b2064489e33e1b.css"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="/static/runtime.183b82f2b3a69ecd7ea0.js"></script><script type="text/javascript" src="/static/polyfills.001f1812942338ddb405.js"></script><script type="text/javascript" src="/static/main.08ac2ff537dd9def7b69.js"></script></body>
</html>
